.list-item{
    display: flex;

    justify-content: space-between;

    align-items: center;



}
.list-item span{

    text-align: center;
}
.pub{
    color: lightSteelBlue;
}
.shape{
    color: violet;
    text-align: center;
    border: 1px groove black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: azure;
    font-size: 25px;
}

